@import 'leaflet/dist/leaflet.css';

#map-geodata {
	width: 100%;
	height: 600px;
}

#map-geodata .marker-pin {
	width: 30px;
	height: 30px;
	border-radius: 50% 50% 50% 0;
	background: #ff0000; // default color, will be overridden by the color of the marker
	position: absolute;
	transform: rotate(-45deg);
	left: 50%;
	top: 50%;
	margin: -15px 0 0 -15px;

	&::after {
		content: '';
		width: 24px;
		height: 24px;
		margin: 3px 0 0 3px;
		background: #fff;
		position: absolute;
		border-radius: 50%;
	}
	&.marker-black {
		background-color: #000000;
	}
	&.marker-blue {
		background-color: #0072B2;
	}
	&.marker-brown {
		background-color: #A0522D;
	}
	&.marker-darkgray {
		background-color: #555555;
	}
	&.marker-deep-purple {
		background-color: #4B0082;
	}
	&.marker-gray {
		background-color: #757575;
	}
	&.marker-green {
		background-color: #328725;
	}
	&.marker-navy-blue {
		background-color: #001D5F;
	}
	&.marker-orange {
		background-color: #F4801B;
	}
	&.marker-purple {
		background-color: #792487;
	}
	&.marker-red {
		background-color: #9F0000;
	}
	&.marker-turquoise {
		background-color: #3B7BA0;
	}
	&.marker-yellow {
		background-color: #7E7722;
	}
}

// to align icon
.leaflet-custom-icon{
	position: relative;
}

.cmb-td .leaflet-custom-icon{
	width: 30px;
	height: 42px;
}

.leaflet-custom-icon {
	.marker-icon,
	i,
	.cluster-count{
		position: absolute;
		width: 22px;
		left: 0;
		right: 0;
		margin: 10px auto;
		text-align: center;
		font-size: 17px;
	}

	i {
		&.awesome {
			margin: 12px auto;
			font-size: 17px;
		}
	}
}
